<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>商品一覧</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/blog_register_style.css}">
</head>

<body>
	<header>
		<nav class="pc">
			<div class="pc-logo"></div>
			<div class="pc-inner">
				<ul class="pc-list">
					<li class="pc-list__item" th:text="${acountName}"></li>
					<li class="pc-list__item"><a th:href="@{/blog/register}">Blog register</a></li>
					<li class="pc-list__item"><a th:href="@{/account/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="main-inner">
			<section class="register-section">
				<h2>新規記事追加</h2>
				<form th:action="@{/blog/register/process}" method="post" enctype="multipart/form-data">
					<div class="register-section-details">
						<div class="register-section-details_flex">
							<div>タイトル</div>
							<input type="text" name="blogTitle" value="" id="adminName" required>
						</div>

						<!-- 日付入力セクションを追加 -->
						<div class="date-section">
							<div>日付</div>
							<input type="date" name="articleDate" required>
						</div>

						<div class="register-section-details_flex">
							<div>カテゴリー</div>
							<select name="categoryName" required>
								<option value="">選択してください</option>
								<option value="旅行">旅行</option>
								<option value="料理">料理</option>
								<option value="出来事">出来事</option>
							</select>
						</div>
						<div class="register-section-details_flex">
							<div>画像</div>
							<input type="file" name="blogImage" accept="image/*">
						</div>
						<div class="register-section-details_flex">
							<div>詳細</div>
							<textarea name="article" placeholder="記事の詳細を入力してください" required></textarea>
						</div>
					</div>
					<div class="register-section-details_flex">
						<button class="register">登録</button>
						<button class="back-btn" onclick="history.back();" type="button">戻る</button>
					</div>
				</form>
			</section>
		</div>
	</main>
	<footer>
		<div>
			<small>&copy; 2025 oushigou</small>
		</div>
	</footer>
</body>

</html>